*, 
*::after, 
*::before{
    box-sizing: border-box;
    // border: 1px solid red;
    
   
}
:root{
    --background-primary: linear-gradient(to right,#01EDE3, #FBE765);
    --bg-color: #F2F2F2;
    --btn-bg-hover:#E71D36;
    --btn-bg:#FFD803;
    --font-body-color:#4A4747;
    --font-color-heading: #0E4D5C;
    --font-heading:"MyFont-chunkfive", sans-serif;
    --font-text-bold:"MyFont-new-montserrat-bold", sans-serif;
    --font-text:"MyFont-new-montserrat", sans-serif;
}

html{
    font-size: 62.5%;
}
/* Typography section */


/* Regular weight */
@font-face {
    font-family: "MyFont-chunkfive";
    src: url("fonts/chunkfive-regular-webfont.woff2") format("woff2"),
         url("fonts/chunkfive-regular-webfont.woff")  format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;      /* prevents invisible text flash */
  }

  @font-face {
    font-family: "MyFont-new-montserrat";
    src: url("fonts/neuemontreal-regular-webfont.woff2") format("woff2"),
         url("fonts/neuemontreal-regular-webfont.woff")  format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Bold weight */
  @font-face {
    font-family: "MyFont-new-montserrat-bold";
    src: url("fonts/neuemontreal-bold-webfont.woff2") format("woff2"),
         url("fonts/neuemontreal-bold-webfont.woff")  format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  body{
    margin: 0;
    padding: 0;
    text-align: center;
    color:var(--font-color-heading);
  }

/* Headings decleration*/

h1, h2, h3, h4{
    font-family:var(--font-heading);
    line-height: 88%;
    color:var(--font-color-heading);
    margin: 0;
    text-transform: uppercase;
}

h1{
    font-size: 3.2rem;
}

h2{
    font-size: 2.4rem;

}

h3{
font-size: 1.8rem;
font-family: var(--font-text-bold);
color:var(--btn-bg-hover);
padding: 2.5rem;
}
p{
    font-family: var(--font-text);
    font-size: 1.6rem;
    line-height: 1.4;
}
.navlinks{
    display: none;
}
.menu{
    width:30px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
}

img{
    width:100%;
    height:100%;
    display: block;
}
.logo{
    width:150px;
}

header{
    background: var(--background-primary);
}

/* main section*/

.red{
    color:var(--btn-bg-hover);
}

.hero-content{
    padding: 2.5rem;
}
.bold{
    font-family: var(--font-text-bold);
}
.btn{
    display: flex;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: var(--font-text);
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    gap:3rem;
    border:none;
    background-color: var(--btn-bg);
    padding: 1rem 2rem;
    color:var(--font-color-heading);
    border-radius: 4px;
}

.arrow{
    width:30px;
    display: block;
}

/* work flow section*/

.workflow{
    background-color: var(--bg-color);
}
.workflow-container{
    padding: 2.5rem;
}

.cards{
    padding: 2.5rem;
    
}
.card{
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
   
}
.card-image{
   padding: 2rem;
    background: var(--btn-bg);
    border-radius: 20px 0 0 20px;
} 

.card-img{
    width:110px;
}
.card-content{
    text-align: left;
    padding: 2rem;
    background-color: white;
    border-radius: 0 20px 20px 0;
    height:150px;
  
}
.card-text{
    margin: 0;
    line-height: 1.1;
}

h4{
    padding-bottom: 1.5rem;
}

/* About Us section*/

.about-us{
    padding: 3.5rem 2.5rem 0 ;
}
.aboutUs-image{
    position:relative;
}
.brand-name{
    font-size: 4.5rem;
    font-family: var(--font-heading);
    background: var(--background-primary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    position:absolute;
    top:-5px;
    z-index:-1;
    text-align: center;
}

.clients{
    background-color: var(--btn-bg);
}
.client-container{
padding: 3.5rem 2.5rem;

}

.client-list{
    display: flex;
    flex-direction: column;
    gap:3rem;
    align-items: center;
    padding-top: 3rem;
}

.ea{
    width:286px;
}
.tb{
    width:157px;
}
.sketchers{
    width:215px;
}
.tilahn{
    width:115px;
}
.gatsby{
    width:94px;
}
.gllit{
    width:154px;
}

/* services  section*/
.services{
    padding: 3.5rem 2.5rem;
}
.service-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-card p{
    text-transform: uppercase;
    font-family: var(--font-text-bold);
    font-size: 2rem;
}

/* contact US  section*/
.contact-us{
    padding: 2.5rem;
    background-color: var(--bg-color);
}
.contact-us p{
    font-size: 4rem;
    font-family: var(--font-heading);
    color:var(--font-color-heading);
    text-transform: uppercase;
    line-height: 1.2;
}

/* footer  section*/

footer{
    background: var(--background-primary);
}

.footer-container{
    padding: 2.5rem 2.5rem 0 2.5rem;
    align-items: center;
}

.social-links img{
    width:49px;
}